@model WebApplication.Infrastructure.ViewModels.ProfileViewModels.ProfileViewModel

<div>
    <div>
        <h5>Username: @Model.UserName.Result</h5>
    </div>
    <div>
        <h5>Email: @Model.Email.Result</h5>
    </div>
    <div>
        <h5>Phone Number: @Model.PhoneNumber.Result</h5>
    </div>
    <div>
        <h5>Frist Name: @Model.FirstName</h5>
    </div>
    <div>
        <h5>Last Name: @Model.LastName</h5>
    </div>
    <div>
        <h5>Date of Birth: @Model.DateOfBirth</h5>
    </div>
    <div>
        <h5>Birth Country: @Model.BirthCountry</h5>
    </div>
    <div>
        <h5>Current Country: @Model.CurrentCountry</h5>
    </div>
</div>