@model List<WebApplication.Core.Domains.Organization>

@{
    ViewData["Title"] = "";
}

<div class="panel">
    <div class="panel-heading">
        <span> Organization</span>
        <span class="pull-right">
            <a asp-action="Create">Create New</a>
        </span>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped mb0">
                <thead>
                    <tr>
                        <th> Id</th>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Location</th> 
                        <th>Info</th>
                     </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                 <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            
                            <td>@Html.DisplayFor(modelItem => item.Symbool)</td>
                            <td>@Html.DisplayFor(modelItem => item.Location)</td>
                            <td>@Html.DisplayFor(modelItem => item.Info)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" data-toggle=tooltip data-placement=top title="Edit"><i class="fa fa-edit"></i></a>
                                &nbsp;
                                <a asp-action="Details" asp-route-id="@item.Id" data-toggle=tooltip data-placement=top title="Details"><i class="fa fa-eye"></i></a>
                                &nbsp;
                                <a asp-action="Delete" asp-route-id="@item.Id" data-toggle=tooltip data-placement=top title="Delete"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>    
            </table>
        </div>
    </div>
</div>

@section Breadcrumbs{
    <ol class="breadcrumb">
        <li>
            <a asp-area=""  asp-controller="Home" asp-action="Index">Home</a>
        </li>
       
        <li class="active">
            <a href="javascript:;">Mesaage Template</a>
        </li>
    </ol>
}